.main{
	background: #FFFFFF;
	display: flex;
	padding: 20px;
	flex-wrap: wrap;
}

button{
	margin: 20px;
	width: 200px;
	font-size: 20px;
}

.users{
	margin-right: 40px;
}

.users ul li a{
	text-decoration: none;
	padding: 10px;
	display: inline-block;
}

.users ul li{
	display: inline-block;
	list-style: none;

}

.users ul{
	display: flex;
	flex-direction: column;
}

.users ul li:hover{
	background: #ccc;
}

.box{
	flex-grow: 4;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background: #ccc;
	padding: 50px;
}

.myMessage{
	position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;

}

.yourMessage{
	position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #f8e896;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
}

.myMessage:after{
	content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #A8DDFD;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.myMessage:before{
	content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #97C6E3;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}

.yourMessage:after{
	content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.yourMessage:before{
	content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}

.messageContent{
	padding: 0;
    margin: 0;
}

.messageTimestampRight{
	position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
}

.messageTimestampLeft{
	position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    left: 5px;
}